/* general*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
    
}



.nav-active{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* header*/

header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 3;

    nav{
        padding-block: 40px;
        display: flex;
        justify-content: space-between;

        .logo{
            

            img{
                width: 100%;
                height: auto;
            }
        }

        ul{
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            
        }

        ul a{
            color: black;
        }

        button{
            background-color: #03A59B;
            border: none;
            padding-inline: 2rem;
            border-radius: 10px;
            
        }

        .contact{
            padding: 10px 30px;
            color: #fff;
            background-color: #03A59B;
            width: fit-content;
            border-radius: 50px;


        }

        
    }



    
}

/* hero-section*/

.container{
    padding-inline: 100px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

    .text-container{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1{
        font-weight: 400;
        width: 300px;
        font-size: 2rem;
    }

    span{
        color: #03A59B;
    }

    a{
        padding: 10px 30px;
        color: #fff;
        background-color: #03A59B;
        width: fit-content;
        border-radius: 50px;
    }
}

/*trending section*/

.trending{
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        p{
            width: 450px;
            text-align: center;
            padding-bottom: 2rem;
        }

        h2{
            font-weight: 400;
            font-size: 2rem;
        }

        span{
            color: #03A59B;
        }
    }

    .sofas {
        display:flex;
        gap: 1rem;


        

        .first-sofa,
        .second-sofa{
            width: 600px;
            background-color: #F8FFFF;
            display: flex;
            justify-content: space-around;
            
        }

        a{
            color: #03A59B;
            font-weight: 600;
            text-decoration: underline;
        }

        .description{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            h4{
                padding-top: 1rem;
            }

        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }


        .second-sofa{
            background-color: #FFFCFB;
        
            a{
                color: #F87C47;
            }
        }
        

    }
}



/*why-us section*/
.why-us{
    display: flex;
    justify-content: space-between;
    align-items: center;

    

    span{
        color: #03A59B;

    }

    .text-container{
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1{
            font-weight: 400;
            font-size: 2rem;
        }
    }

    .bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .img-container{
        position: relative;
        margin-top: 12rem;
        
        

        .dots{
            position: absolute;
            top: -7rem;
            z-index: 0;
            left: -2.5rem;
        }
        .frame{
            position: relative;
            z-index: 1;
            top: -2rem;
            
        }
        
    }

    




}

.trending,
.why-us{
    padding-block: 5rem;
}

.contact{
    .border{
        border: 1px solid #ECECEC;
        padding: 40px ;
        border-radius: 8px;
    }

    
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 1rem;

        p{
            color: #858585;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    input{
        padding: 12px 10px;
        border: 1px solid #ECECEC;
    }

    textarea{
        padding: 12px 10px;
        border: 1px solid #ECECEC;
        resize: none;
    }

    button{
        background-color: #03A59B;
        border: none;
        color: #fff;
        padding: 15px 10px;
        border-radius: 8px;

    }

    .card-row{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 5rem;

        .card{
            border: 1px solid #ECECEC;
            padding: 25px;
            text-align: center;
            width: 500px;
            border-radius: 8px;
        }
    }
}


footer{
    background-color: #03A59B;
    display: flex;
    justify-content: space-between;
    padding-block: 80px ;

    .logo p{
        width: 400px;
        padding-top: 1rem;
        font-weight: 300;

    }
    a, p{
        color: #fff;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        font-weight: 300;
    }

    ul{
        display: flex;
        gap: 1rem;
    }

    .copyright{
        font-weight: 300;
    }


}